<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :nombre %>
  <%= f.text_field :name, class: 'form-control', :required => true %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control', :required => true %>

  <div class="checkbox">
  <%= f.label :subscription do %>
      <%= f.check_box :subscription %>¿Desea suscribirse para recibir las ofertas semanales?
  <%end%>
  </div> <br>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control', :required => true%>

  <%= f.label :confirmacion_password %>
  <%= f.password_field :password_confirmation, class: 'form-control', :required => true %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
