<%= form_for(@product , html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :codigo %>
    <%= f.text_field :code, class: 'form-control' %>

    <%= f.label :nombre %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :descripcion %>
    <%= f.text_area :description, class: 'form-control'%>

    <%= f.label :categoria %> |
    <%= link_to "Añadir Categoria", new_category_path, remote: true %> |
    <%= link_to "Administrar Categorias", categories_path %>
    <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Seleccione una categoría"}, {class: "form-control"} %>

    <%= f.label :marca %> |
    <%= link_to "Añadir Marca", new_trademark_path, remote: true %> |
    <%= link_to "Administrar Marcas", trademarks_path %>
    <%= f.collection_select :trademark_id, Trademark.all, :id, :name, {prompt: "Seleccione una marca"}, {class: "form-control"} %>

    <%= f.label :precio %>
 	  <%= f.number_field :price, in: 1.0..50000.0, step: 0.5, class: 'form-control' %>

    <%= f.label :stock %>
    <%= f.number_field :stock,  in: 1..10000, step: 1, class: 'form-control' %>

    <span class="picture">
        <%= f.label :imagen %>
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </span>

    <%= f.label :offer, class: "checkbox inline" do %>
        <%= f.check_box :offer %>
        <span>Marcar producto como oferta</span>
    <% end %>

    <span class="picture">
        <%= f.label :imagen_de_portada %>
        <%= f.file_field :cover_picture, accept: 'image/jpeg,image/gif,image/png' %>
    </span>
 <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>

<div id="trademark-modal" class="modal fade"></div>
<div id="category-modal" class="modal fade"></div>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('El tamaño máximo es 5MB. Por favor seleccione una imagen más pequeña.');
    }
  });
</script>
