<% if @products.any? %>
	<% if logged_in? && current_user.admin? %>
		<p><%= link_to "Nuevo producto", new_product_path, class: "btn btn-lg btn-primary", id:"new-product" %></p>
	<%end%>
  <h3>Productos (<%= @products.count %>)</h3>
  <%= will_paginate @products %>
    <div class="row">
			<div class="col-md-2">
				</br>
				<% if !@trademarks.nil?%>
					<strong>Marcas</strong>
		      <% @trademarks.each do |trademark| %>
		        </br>
		        <%= link_to filter_path(:trademark => trademark,:category => @category) do %>
		          <%=trademark.name %>
		        <% end %>
					<% end %>
				<% else %>
					<strong>Marca</strong>
					</br>
				 	<%= link_to @category do%>
				 		<%=@trademark.name%>
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					<%end %>
				<%end %>
				</br></br>
				<strong>Ordenar por</strong>
				<%=form_tag(order_path , method: 'get') do %>
					<%= hidden_field_tag :category , @category[:name] %>
					<% if !@trademark.nil?%>
						<%= hidden_field_tag :trademark , @trademark[:name] %>
					<% end %>
					<%=select_tag "order_by", options_for_select([ "Menor precio", "Mayor precio"],@default), class: "form-control", :onchange => "this.form.submit()"%>
				<% end %>
			</div>
			<div class="col-md-10">
					<table class="table table-hover">
							<thead>
									<tr>
											<th>Producto</th>
											<th class="text-center">Precio</th>
											<th> </th>
									</tr>
							</thead>
							<tbody>
							<% @products.each do |product| %>
								<%= render product %>
							<% end %>
							</tbody>
					</table>
			</div>
    </div>
  <%= will_paginate @products %>
<% end %>
